
.container {
  display: flex;
  flex-direction: column;
}

.buttonCurrent,
.buttonOptional {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1.2rem;
  width: 5rem;
  color: var(--color-font-light);
}

.buttonCurrent:hover,
.buttonOptional:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
}

.buttonOptional:hover {
  border: 1px solid #888;
}

.buttonCurrent {
  background-color: rgba(0,0,0,0);
  transition: background-color 0.1s ease;
  border-radius: 1rem;
  position:a relative;
  padding: 2rem 0;
}

.buttonOptional {
  background-color: var(--color-bg-menu);
  border-radius: 1rem;
  position: absolute;
  top: 13.3rem;
  padding: 2rem 0;
}

.showOptionalLanguage {
  opacity: 1;
  transform: translateY(-8rem);
  pointer-events: auto;
  transition: opacity 0.5s ease-out, transform 0.2s ease;
}

.hideOptionalLanguage {
  opacity: 0;
  transform: translateY(0);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.2s ease;
}