.container {
  width: var(--size-component-width);
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.instructor {
  border: 1px solid #fff;
  box-shadow: 0 0 8px #ccc;
  padding: var(--size-instructor-padding);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.instructor:hover {
  box-shadow: 0 0 8px #888;;
  transition: box-shadow 0.3s ease;
}

.imageAndTitle {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.title {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h4:first-child {
  font-size: var(--size-h4-title-2);
  font-weight: normal;
  color: var(--color-gold-1);
}

.title h4:last-child {
  font-size: calc(var(--size-h4-title-2)*0.9);
  color: var(--color-dark);
  font-weight: normal;
}

.info h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: calc(var(--size-h4-title-2) * 0.8);
}

.info p {
  font-size: var(--size-footer-text);
}


.showInfo {
  opacity: 1;
  max-height: 50rem;
  transition: max-height 0.5s ease, opacity 0.5s ease 0.2s;
  pointer-events: auto;
}

.hideInfo {
  opacity: 0;
  max-height: 0;
  transition: max-height 0.2s ease, opacity 0.2s ease;
  pointer-events: none;
}

.smallImage {
  width: var(--size-instructor-photo);
  transition: width 0.3s ease;
}

.bigImage {
  width: calc(var(--size-instructor-photo) * 1.5);
  transition: width 0.3s ease;
}


@media (min-width: 769px) and (max-width: 1280px) {
  .title {
    align-items: start;
  }

  .title h4:first-child {
    margin-bottom: 2rem;
  }

  .info p {
    margin-top: 2rem;
  }

  .imageAndTitle img {
    margin-right: 5rem;;
  }
}
