
.oneSectionContainer {
  width: var(--size-component-width);
}

.oneSectionContainer h4 {
  margin-bottom: 0.5rem;
  font-size: var(--size-one-section-title);
}

.oneSectionContainer p {
  margin-bottom: 2.5rem;
  font-size: var(--size-one-section-text);
}

.oneSectionContainer img {
  width: 100%;
  margin-top: 2rem;
}



.allAnotherSectionsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.section {
  text-decoration: none;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.section img {
  width: calc(var(--size-section-image-width) * 0.8);
  height: calc(var(--size-section-image-height) * 0.8);
  border-radius: 50%;
  box-shadow: 0 0 8px #555;
  margin-bottom: 0.7rem;
}

.section h4 {
  margin-left: 2rem;
  font-size: var(--size-h4-title-1);
  color: var(--color-gold-1);
}



@media (hover:hover) and (pointer:fine) {
  .section:hover {
    transform: scale(1.10);
  }
}


@media (min-width: 768px) {
  .allAnotherSectionsContainer {
    gap: 5rem;
  }

  .section {
    flex-direction: column;
  }

  .section img {
    width: var(--size-section-image-width);
    height: var(--size-section-image-height);
  }

  .section h4 {
    margin-left: 0;
  }
}


@media (min-width: 768px) and (max-width: 1280px) {
  .allAnotherSectionsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (min-width: 1281px) {
  .allAnotherSectionsContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}