

.oneSectionContainer h4 {
  margin-bottom: 0.5rem;
  font-size: var(--size-one-section-title);
}

.oneSectionContainer p {
  margin-bottom: 2.5rem;
  font-size: var(--size-one-section-text);
}

.oneSectionContainer img {
  width: 100%;
  margin-top: 2rem;
}



.allAnotherSectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  text-decoration: none;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.section:hover {
  transform: scale(1.10);
}

.section img {
  width: var(--size-section-image-width);
  height: var(--size-section-image-height);
  border-radius: 50%;
  box-shadow: 0 0 8px #555;
  margin-bottom: 0.7rem;
}

.section h4 {
  margin-left: 2rem;
  font-size: var(--size-h4-title-1);
  color: var(--color-gold-1);
}