

.container {
  width: 100%;
  height: var(--size-header-height);
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  padding-left: var(--size-header-mobile-padding-side);
  padding-right: var(--size-header-mobile-padding-side);
  position: fixed;
  z-index: 1 ;
  background-position: top; 
  background-repeat: no-repeat;
  background-size: auto; 
}

.cover::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: -1;
}

.coverTransparent {
  background-color: rgba(0,0,0,0.5);
  transition: background-color 0.3s ease;
}

.coverBlack {
  background-color: rgba(0,0,0,1);
  transition: background-color 0.3s ease;
}

.containerMobile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.containerSmallDesktop {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logoAndSocialAndLanguage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.socialAndLanguage {
  display: flex;
  align-items: center;
}

